<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Mi cuenta es: <%= @cuenta %></h1>
    <form class="" action="/cuenta" method="get">
      <input type="hidden" name="c" value="<%= @cuenta %>">
      <input type="submit" name="Suma!" />


  </body>
</html>
